body{
    width: 100vw; 
    height: 100vh;
    background: linear-gradient(to right bottom, #f4f7f9, #94abbb);
}

a {
    text-decoration: none;
    margin-right: 3%;
}

.nav{
    height: 4em;
    background-color: #35444f ;
}

h5{
    display: inline;
}
h6{
    display: inline;
}
